@model IEnumerable<WebNew.Models.BaiViet>
@{
    ViewBag.Title = "Tin theo Chủ đề ";
    Layout = "~/Views/Shared/_LayoutTopic.cshtml";
}

<h2>Bài viết theo loại</h2>


<div>
    @foreach (var baiviet in Model)
    {
        <div class="col-sm-4 col-md-4 col col-md-4"
              style="height:400px;width:350px">
            <div class="thumbnail" style="height:350px;width:330px">
                <a href="@Url.Action("Details","WebNew",new { id = baiviet.MaBaiviet })">
                    <img alt="@baiviet.TieuDe" src="~/images/@baiviet.HinhAnh" width="200" />
                    <div>
                        <br />
                        <h4 style ="font-family : 'Tahoma' center">
                            @baiviet.TieuDe
                        </h4>
                        <p></p>
                    </div>
                </a>
                @baiviet.TieuDe
            </div>
        </div>
    }
</div>
