@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div>
    <div>
        <div style="align-content:center;width:100%;margin-left:200px;margin-bottom:30px">
            <img src="~/images/@Model.HinhAnh" />
        </div>

        <div style="padding:10px;margin-left:100px;margin-right:100px" />
        <h4 style="font-weight:bold; color:red;font-family:'Times New Roman', Times, serif">  @Model.TieuDe</h4>
        <p style="text-align:justify"><span style="font-weight:bold"></span>@Model.NoiDungTomtat </p>
        <p style="text-align:justify"><span style="font-weight:bold"></span>@Model.NoiDungChinh </p>
        <p style="font-weight:bold">Lượt xem: <span style="color:red; font-size: 16pt">@Model.LuotXem lượt</span></p>
        
    </div>
</div>
</div>


