@model IEnumerable<WebNew.Models.LoaiBaiViet>

@foreach (var bv in Model)
{
    <li><a style="font-family:'Times New Roman', Times, serif" href="@Url.Action("BVTheoLoai","WebNew",new { id = bv.MaLoaiBV })">@bv.TenLoai</a></li>

            }